header { 
  
    width: 100%;
    height: 90px;
    border-bottom: 1px solid grey /*code taken from https://internetingishard.com/html-and-css/css-box-model*/
}

header div {
        width: 960px;
        margin: 0 auto;
}

header h1 {

    background-color: green; /*This makes 'Leon Lin' backgrond green'*/
    padding: 15px;
}

header h1, nav {
    display: inline-block; /*inline-block does not add a line-break after element so element can sit next to other elements*/
    /* background-color: pink; */
}

header h1 {
        float: left
}

nav {
    float: right;
}

header a {
padding: 15px;

}
    

/* section {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 100px;
  
} */

section {
    width: 100%;
    background-color: pink;

}

section div {
    width: 960px;
    background-color: white;
    margin: 0 auto;


}

section h2 /*This is the "Portfolio" section*/ 
    {
    padding: 15px;
    background-color: yellow;
    border-bottom: 1px solid grey;
}



.box-set {
    width: 960px;
    margin: 0 auto;
    background: darkgray;
    display: block;
  }

.box {
    position: relative;
    width: 325px;
    height: 216px;
    background: #2db34a;
    /* border: 1px solid black; */
    float: left;
  }



footer div {
    /* this line forces the header to float below the Body */
    clear: both; 
    /* display: table-cell; */
    width: 100%;
    height: 90px;
    /* vertical-align: bottom; */
    text-align: center;
    background-color: orange
    
    

}

/* footer div {
    margin: 0 auto;
} */

/* .background {
    background-color: orange;
} */